<div class="formulario-container">
    <h2>Formulario de Reserva: {{ espacio.nombre }}</h2>
    <form (ngSubmit)="reservar()">
      <label for="ci">CI</label>
      <input id="ci" type="text" required [(ngModel)]="reserva.ci" name="ci">
  
      <label for="tipo-evento">Tipo de Evento</label>
      <input id="tipo-evento" type="text" required [(ngModel)]="reserva.tipoEvento" name="tipoEvento">
  
      <label for="fecha">Fecha</label>
      <input id="fecha" type="date" required [(ngModel)]="reserva.fecha" name="fecha">
  
      <label for="tarjeta">Número de Tarjeta</label>
      <input id="tarjeta" type="text" required [(ngModel)]="reserva.tarjeta" name="tarjeta">
  
      <button type="submit">Reservar</button>
    </form>
  
    <!-- Mapa -->
    <img
      src="https://maps.app.goo.gl/KrfoY58fV3FnyaaP7" 
      alt="Ubicación del espacio reservado en La Paz"
      style="width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);"
    />
</div>

  
    <!-- Mensaje de sobrepantalla -->
    <div *ngIf="mostrarMensaje" class="overlay">
      <div class="mensaje">
        <img src="https://www.pngarts.com/files/9/Green-Check-Mark-PNG-Image.png" alt="Ícono de confirmación de solicitud enviada" class="sobre-logo">
        <p>Solicitud Enviada</p>
      </div>
    </div>
  